= form_for(@session, :url => url) do |f|
  %p
    = f.label :title, t('common.title')
    %br/
    = f.text_field :title, :size => '32'
  %p
    = f.label :level, t('sessions.level')
    %br/
    = select(:session, :level, i18n_options_for(Constants::Sessions::Levels))
  %p
    = f.label :age, t('sessions.age')
    %br/
    = select(:session, :age, i18n_options_for(Constants::Sessions::Ages))
  %p
    = f.label :format, t('sessions.format')
    %br/
    = select(:session, :format, i18n_options_for(Constants::Sessions::Formats))
  %p
    = f.label :capacity, t('sessions.capacity')
    %br/
    = f.text_field :capacity, :size => '32'
  %p
    = f.label :description, t('common.description')
    %br/
    = f.text_area :description, :size => '28x12'
  %p
    = f.label :tags, t('common.tags')
    %br/
    = f.text_field :tags, :size => '32'
  %p= f.submit t('common.validate')