%div{:id => id_for_resource(session)}
  .grid_12
    %hr
  .grid_2
    .pad_1
      = avatar_for(session.user)
      = render 'sessions/rating', :session => session
  .grid_10
    %h3
      = link_to session.title, awesome_session_path(session)
    %strong.grid_10.alpha
      = session.user.greeter_name
    .tags.grid_5.alpha
      = render 'sessions/tags', :tags => session.tags
    .grid_5.omega
      %ul
        - [:format, :level, :age].map{|f| i18n_text_for(session, f)}.each do |trait|
          %li= trait
        - unless session.capacity.blank?
          %li= t('sessions.capacity', :count => session.capacity)
  .clear
