%div
  %div.avatar
    = avatar_for(session.user)
  %div.session_title
    %h3= link_to session.title, awesome_session_path(session)
.clear
%div
  %div.greeter_name
    %strong
      = session.user.greeter_name
  %div.session_content
    = render 'sessions/tags', :tags => session.tags
  %div.session_attrs
    - ([:format, :level, :age].map{|f| i18n_text_for(session, f)} << session.capacity).reject(&:blank?).each do |trait|
      %span.att= trait

