%div{:id => "session_#{session.id}"}
  .header
    .title
      %h3= link_to session.title, session
      .tags
        = render :partial => 'sessions/tag', :collection => session.tags_array, :as => :tag
    .author
      %h3
        %p
          = gravatar_for(session.user)
          = session.user.greeter_name
    .clear

  .description
    :plain
      #{markdown(session.description)}