%div{:id => "session_#{session.id}"}
  .header
    .author
      %h3
        %span{:class => 'label'} #{t('roles.author')} :
        %p
          = gravatar_for(session.user)
          = session.user.greeter_name
    .title
      %h3= link_to session.title, session
    .tags
      %h3
        %p= session.tags
    .clear

  .description
    :plain
      #{markup(session.description)}