%h1= t('party.propose_a_new_session?')
= form_for(@session) do |f|
  %p
    = f.label :title, 'Titre'
    %br/
    = f.text_field :title, :size => '32'
  %p
    = f.label :description, 'Description'
    %br/
    = f.text_area :description, :size => '28x12'
  %p= f.submit t('common.validate')