%p
  = t('.amount')
  = number_to_currency(invoice.amount)
  - invoice.lines.each do |product, lines|
    %li
      = i18n_text_for(product, :ref)
      - lines.each do |(price, quantity)|
        %br
        = "#{quantity} x #{price}"
  = link_to(t('.pay'), payments_path(invoice))