%h1= render @conference

= link_to t('party.session.new?'), new_conference_session_path(@conference)

- @sessions.each do |session|
  = render 'sessions/header', :session => session
  = render 'sessions/summary', :session => session
  
.pagination
  = will_paginate @sessions
  
