.grid_12
  .pad_1
    %h1
      = t('.title')

= form_tag(conference_registrations_path(@conference)) do
  - @conference.products.each do |product|
    %h3.grid_4
      .pad_1
        = i18n_text_for(product, :ref)
    - if product.offers.empty?
      %p.pad_1
        = t('.closed')
    - else
      .grid_4
        = hidden_field_tag "orders[][product_id]", product.id
        = number_field_tag "orders[][quantity]", 1, :in => 0..20, :size => 3
      .clear
      .grid_4
        %p.pad_1
          - product.offers.each do |quantity, price|
            = t('.remaining', :count => quantity)
            = number_to_currency(price, :locale => :fr)
            %br
      .clear
  .grid_2.pad_1
    = submit_tag t('common.validate')
.clear
