.grid_12
  .pad_1
    %h1
      = t('.title')
.grid_6
  .pad_1
    = form_tag(conference_registrations_path(@conference)) do
      - @conference.products.each do |product|
        %h3
          = i18n_text_for(product, :ref)

        - order = product.best_offer
        - if order.blank?
          %p
            = t('.closed')
        - else
          = render "shared/error_messages", :resource => order
          %p  
            = hidden_field_tag "orders[][product_id]", order.product.id
            = hidden_field_tag "orders[][price]", order.price
            = hidden_field_tag "orders[][ref]", order.ref
            = number_field_tag "orders[][quantity]", 1, :in => 0..20, :size => 3
            = label_tag :offer, i18n_text_for(order, :ref)
            \:
            = number_to_currency(order.price, :locale => :fr)
            %br
            %span{:class => 'hint'}= t('registrations.remaining', :count => order.remaining)
      = submit_tag t('common.validate')
.clear
