.pad_2
  %h2= "Contact"
  %h4.prefix_4
    %a{ :href => "mailto:contact@conf.agile-france.org" } contact@conf.agile-france.org
  %h4.prefix_4
    %a{ :href => "http://twitter.com/#!/agilefrance/" } @agilefrance

.pad_2
  %h2= "Qui sommes-nous ?"
  .prefix_1
    Equipe d'organisation de l'édition 2011:
  .clear
  .prefix_2
    %a.grid_1{ :href => "http://twitter.com/#!/yannickameur", :title => "@yannickameur" }
      %img.avatar{ :width => 64, :height => 64, :src => "http://www.gravatar.com/avatar/9c44dee4451d0cdc55fc10a1b23a20a7", :alt => "Photo de Yannick Ameur" }
      .hint.pad_1= "Yannick Ameur"
    .grid_1
      %img.avatar{ :width => 64, :height => 64, :src => "http://www.gravatar.com/avatar/5284b117457729f055b3e160a281a019", :alt => "Photo de Thibault Bouchette" }
      .hint.pad_1= "Thibault Bouchette"
    %a.grid_1{ :href => "http://twitter.com/#!/CyrilleDeruel", :title => "@CyrilleDeruel" }
      %img.avatar{ :width => 64, :height => 64, :src => "http://www.gravatar.com/avatar/6a2b5d1970c571a3321ebf28a744399a", :alt => "Photo de Cyrille Deruel" }
      .hint.pad_1= "Cyrille Deruel"
    %a.grid_1{ :href => "http://twitter.com/#!/sdouche", :title => "@sdouche" }
      %img.avatar{ :width => 64, :height => 64, :src => "http://www.gravatar.com/avatar/6a5031f68860b05edb94a0f3107d4595", :alt => "Photo de Sébastien Douche" }
      .hint.pad_1= "Sebastien Douche"
    %a.grid_1{ :href => "http://twitter.com/#!/thierryhenrio", :title => "@thierryhenrio" }
      %img.avatar{ :width => 64, :height => 64, :src => "http://www.gravatar.com/avatar/3840eee8f5a6035bad8ff3d03fa2f140", :alt => "Photo de Thierry Henrio" }
      .hint.pad_1= "Thierry Henrio"
    %a.grid_1{ :href => "http://twitter.com/#!/ericlemerdy", :title => "@ericlemerdy" }
      %img.avatar{ :width => 64, :height => 64, :src => "http://www.gravatar.com/avatar/77da98419ae312eb0e322a3dac44a734", :alt => "Photo de Eric Le Merdy" }
      .hint.pad_1= "Eric Le Merdy"
    %a.grid_1{ :href => "http://twitter.com/#!/jonathan_scher", :title => "@jonathan_scher" }
      %img.avatar{ :width => 64, :height => 64, :src => "http://www.gravatar.com/avatar/d03199028f7f40027c1ad60e32b6ea0e", :alt => "Photo de Jonathan Scher" }
      .hint.pad_1= "Jonathan Scher"

.clear
%br
%br

.pad_2
  %h2= "Précédentes Editions"
  %p
    %img{ :src => "/images/victorian-ornament-2.png", :alt => "Calendar" }
    La conférence Agile France est une des plus anciennes réunion française sur l'agilité. Autrefois XPFrance, la conférence a changé de nom lors de sa 5ème édition pour s'aligner avec ce qu'elle était vraiment: la conférence sur l'agilité en général et pas exclusivement la méthode eXtreme Programming. Voici quelques traces du passé de la conférence.

  %ol.prefix_1
    %li{ :value => "5" }
      %span{ :style => "vertical-align: super" }
        ème
      édition - Agile France 2010
      %ul
        %li
          Vidéos -
          %a{ :href => "http://agilefrance.ubicast.tv/categories/conference-agile-2010/" }
            Vidéos officielles des sessions (avec les slides)
    %li{ :value => "4" }
      %span{ :style => "vertical-align: super" }
        ème
      édition - XPDay 2009
      %ul
        %li
          Article de blog -
          %a{ :href => "http://www.xebia.fr/events/xebia-sponsor-de-la-conf%C3%A9rence-xp-day-france-2009" }
            Xebia sponsor de la conférence XP Day France 2009
        %li
          Article de blog -
          %a{ :href => "http://blog.valtech.fr/wordpress/2009/05/26/xp-day-france-2009-les-premiers-retours/" }
            XP Day France 2009, les premiers retours
        %li
          Article de blog -
          %a{ :href => "http://www.touilleur-express.fr/2009/05/27/xp-day-france-2009-journee-1/" }
            XP Day France 2009 – journée 1
    %li{ :value => "3" }
      %span{ :style => "vertical-align: super" }
        ème
      édition - XPDay 2008
      %ul
        %li
          %a{ :href => "http://yota.smugmug.com/Events/XPDayFR-2008/6827298_gDwDa" }
            Galerie photo
    %li{ :value => "2" }
      %span{ :style => "vertical-align: super" }
        ème
      édition - XPDay 2007
      %ul
        %li
          %a{ :href => "http://yota.smugmug.com/Events/XPDay-FR-2007/3325543_wTJCXs" }
            Galerie photo
        %li
          Article de blog -
          %a{ :href => "http://www.hortis.ch/index.php/A-PROPOS-D-HORTIS/2007/hortis-aux-xp-day-france-2007-avec-une-conference-sur-ruby-on-rails-2-3-mai-2007.html" }
            Hortis aux XP Day France 2007, avec une conférence sur Ruby on Rails: 2 & 3 mai 2007
    %li{ :value => "1" }
      %span{ :style => "vertical-align: super" }
        ère
      édition - XPDay 2006
      %ul
        %li
          Article de blog -
          %a{ :href => "http://zope.afpy.org/Members/tarek/afpynews.2006-01-09.2799716765" }
            XP Day France 2006
  %p="La page est enrichie au fil de l'eau avec les autres traces du passé découvertes."
  %p="Pour nous soumettre un contenu, vous pouvez envoyez un courrier éléctronique à orga AROBASE conf POINT agile TIRET france POINT org. Merci !"
