.pad_2
  %h2= "Lieu"
  %p= "Entouré d'un lac, offrant un lieu au calme, le chalet de la porte jaune offre six espaces modulables pouvant accueillir jusqu’à 300 personnes. Les discussions et les repas peuvent se prolonger à l’extérieur afin de profiter de l’agréable cadre verdoyant : « la campagne à Paris ». C'est la 3ème année consécutive que ce lieu accueille la conférence."

  %h3= "Comment s'y rendre ?"
  %ul
    %li= "En voiture: Avenue de Nogent, Bois de Vincennes, 75012 Paris, France - 48.838373, 2.459350 - Parking gratuit."
    %li= "Métro Ligne 1, station « Château de Vincennes » puis bus 114 ou 210, arrêt Porte Jaune."
    %li= "RER A2 direction Boissy-Saint-Léger, station Fontenay-sous-Bois"

  %h3= "Plan d'accès"
  %a{ :href => "http://www.openstreetmap.org/?lat=48.83901&lon=2.46021&zoom=16&layers=M" }
    %img{ :src => "http://dev.openstreetmap.de/staticmap/staticmap.php?center=48.838373,2.459350&zoom=16&size=312x316&markers=48.838415,2.459371,red-pushpin", :alt => "OpenStreetMap (de) map of the area around 48.83837, 2.45935" }

  %h3= "Hôtels à proximité"
  %p= "(TODO: demander à la PJ les hôtels)"
