.pad_2

  %div.grid_7
  
    %h2= "Programme"

    %p= "Voici le programme final de la conférence Agile France 2011:"
    %p
      %a#download.prefix_1{ :href => "/programme/2011/final.pdf", :target => "_blank" }
        %img{ :src => "/images/pdf_ico.png", :alt => "PDF Icon" }
        Programme 2011 - final - 20110518.pdf
    %p= "Le programme sera finalisé dès que tous les orateurs auront confirmé leur session."

  %div.grid_7
    %h3#final= "Derniers changements"
    %ul
      %li= "Echange de session Atelier Story Map <-> Clinique TDD (jeudi après-midi/vendredi après-midi)"
      %li= "Changement de couleur pour l'atelier d'Emilie"
      %li= "Changement d'orateur principal pour la session 'iPhoniste'"

  %div.grid_4
    %h3= "Versions précédentes"
    %ul
      %li
        %a#draft4{ :href => "/programme/2011/draft/4.pdf", :target => "_blank" }
          Programme 2011 - 4.pdf
        %br
        Echange entre les sessions de Antoine Contal et François Wauquier le jeudi matin"
        %br
        Changement de titre pour la session Scrum de Luc Bizeul"
        %br
        Echange entre les sessions de Gilles Mantel et Céline Stauder le jeudi après-midi"
        %br
        Echange entre les sessions de Elisabeth Ducarre et Laurence Hanot le jeudi après-midi"
        %br
        Echange entre les sessions de Jean Laurent de Morlhon et de Mack Adams le vendredi matin"
        %br
        Echange de salles 1 et 2 le vendredi matin après la pause"
        %br
        Suppression du Débriefing Agile Cup (et extension de la session de Jean-Charles Meyrignac) le vendredi matin"
        %br
        Luc Bizeul cède la place d'orateur principal à Anne Daguin sur sa session du vendredi"
        %br
        Echange de salles entre Anne Daguin et Dominic Williams le vendredi matin"
        %br
        Antone Contal cède sa place d'orateur à Régis Médina le vendredi matin"
        %br
        Echange de la session de Sandrine Olivencia et Jonathan Perret le vendredi"

      %li
        %a#draft3{ :href => "/programme/2011/draft/3.pdf", :target => "_blank" }
          Programme 2011 - 3.pdf
        %br
        Accueil et mot des sponsors le jeudi matin
        %br
        Les sessions de Guillaume Duquesnay sont passées du vendredi au jeudi
        %br
        La session de Mack Adams de jeudi à vendredi
        %br
        Echange de la session de Laurence Hanot avec l'atelier
        %br
        Racourcissement de la session de Jean-Charles Meyrignac et insertion de la rétrospective Agile Cup
        %br
        Pas d'apéro le vendredi
        %br
        Alexandre Boutin change le titre de sa session

      %li
        %a#draft2{ :href => "/programme/2011/draft/2.pdf", :target => "_blank" }
          Programme 2011 - 2.pdf
        %br
        La présentation "le YoGa du Gout" est animée par Luc Bizeul et non William Guillouard
        %br
        Idem pour "Scrum au dela de Scrum : Your own production system"

      %li
        %a#draft1{ :href => "/programme/2011/draft/1.pdf", :target => "_blank" }
          Programme 2011 - 1.pdf

%hr

:javascript
  now = new Date().getTime();
  $(document).ready(function () {
    $(".event").each(function () {
      var node = $(this);
      node.attr('src', function (i, val) {
        var src = "http://cdn1.iconfinder.com/data/icons/de-munich-icon-pack/16x16/";
        if (new Date(node.attr('startdate')).getTime() >= now) {
          src += 'busy';
        } else {
          src += 'check';
        }
        return src + '.png';
      });
    });
  });

.pad_2
  %h2= "Calendrier"
  %p
    %img.icon{ :src => "http://cdn1.iconfinder.com/data/icons/de-munich-icon-pack/32x32/date.png", :alt => "Calendar" }
    Voici les principales étapes pour la conférence.

  %dl.prefix_1
    %dt= "Janvier 2011"
    %dd.prefix_2
      %img.event{ :startdate => "2011-01-01", :src => "", :alt => "Status" }
      Ouverture des
      %a{ :href => "/users/sign_in"}= "inscriptions au site"
    %dt= "Février 2011"
    %dd.prefix_2
      %img.event{ :startdate => "2011-02-01", :src => "", :alt => "Status" }
      Ouverture des
      %a{ :href => "/agile-france-2011/sessions/new" }= "propositions de sessions"
      %br
      %img.event{ :startdate => "2011-04-15", :src => "", :alt => "Status" }
      Prolongations jusqu'au 15 avril !
    %dt= "Mars 2011"
    %dd.prefix_2
      %img.event{ :startdate => "2011-03-20", :src => "", :alt => "Status" }
      Ouverture des
      %a{ :href => "/conferences/agile-france-2011/registrations/new" }= "inscriptions"
      à la conférence
    %dt= "Avril 2011"
    %dd.prefix_2
      %img.event{ :startdate => "2011-04-15", :src => "", :alt => "Status" }
      Ouverture du paiement des droits d'entrée
      %ul
        %li= "220€ au tarif 'early' (100 premières places)"
        %li= "270€ au tarif normal"
      %img.event{ :startdate => "2011-04-27", :src => "", :alt => "Status" }
      Comité de séléction des sessions les mercredis 20 et 27 avril
    %dt= "Fin avril 2011"
    %dd.prefix_2
      %img.event{ :startdate => "2011-04-30", :src => "", :alt => "Status" }
      Publication du programme
    %dt= "Dernière semaine"
    %dd.prefix_2
      %img.event{ :startdate => "2011-05-25", :src => "", :alt => "Status" }
      Facturation et contrôle des inscriptions
    %dt= "26 et 27 mai 2011"
    %dd.prefix_2
      %img.event{ :startdate => "2011-05-27", :src => "", :alt => "Status" }
      Conférence !
