.pad_2
  %h2= "Resources de promotion"
  %p
    Voici les resources de promotion que vous pouvez utiliser pour communiquer sur la conférence Agile France. Vous êtes libres d'utiliser ces éléments pour mettre en avant la conférence !

  %ul.prefix_1#promote-ressources
    %li.grid_3
      %h3= "Logo officiel"
      %a{ :href => "/images/AgileFranceConference2011-logo.png" }
        %img.bordered{ :src => "/images/AgileFranceConference2011-logo.png" }
    %li.grid_3
      %h3= "Flyer"
      %a{ :href => "/images/AgileFranceConference2011-flyer.png" }
        %img.bordered{ :src => "/images/AgileFranceConference2011-flyer.png" }
    %li.grid_3
      %h3= "Badge fan"
      %a{ :href => "/images/AgileFranceConference2011-fan.png" }
        %img.bordered{ :src => "/images/AgileFranceConference2011-fan.png" }
    %div.clear
    %li.grid_3
      %h3= "Badge orateur"
      %a{ :href => "/images/AgileFranceConference2011-orateur.png" }
        %img.bordered{ :src => "/images/AgileFranceConference2011-orateur.png" }
    %li.grid_3
      %h3= "Badge speaker"
      %a{ :href => "/images/AgileFranceConference2011-speaker.png" }
        %img.bordered{ :src => "/images/AgileFranceConference2011-speaker.png" }
    %li.grid_3
      %h3= "Badge sponsor"
      %a{ :href => "/images/AgileFranceConference2011-sponsor.png" }
        %img.bordered{ :src => "/images/AgileFranceConference2011-sponsor.png" }
    %div.clear
    %li.grid_3
      %h3= "Badge inscrit"
      %a{ :href => "/images/AgileFranceConference2011-inscrit.png" }
        %img.bordered{ :src => "/images/AgileFranceConference2011-inscrit.png" }
    %li.grid_3{ :title => "Slide à insérer dans votre présentation" }
      %h3= "Présentation"
      %a{ :href => "/presentation/2011/last.odp" }
        %img.bordered{ :src => "/images/presentation-thumb.png" }
      %a{ :href => "/presentation/2011/last.ppt" }= "(format Windows Powerpoint)"

  %div.clear
