%h2= "Bientôt"
%p
  %img{ :src => "/images/tabella_architetto_franc_01.png", :alt => "Calendar" }
  Voici les prochaines étapes pour la conférence.

%dl.prefix_1
  %dt= "Janvier 2011"
  %dd.prefix_2= "Ouverture des inscriptions au site"
  %dt= "Février 2011"
  %dd.prefix_2= "Ouverture des propositions de sessions"
  %dt= "Avril 2011"
  %dd.prefix_2= "Comité de séléction des sessions"
  %dt= "Mai 2011"
  %dd.prefix_2= "Ouverture des inscriptions à la conférence au tarif 'early'."
  %dt= "26 et 27 juin 2011"
  %dd.prefix_2= "Conférence !"
