.pad_2
  %h2= "Sponsors"

  .grid_3
    %h3= "Platinium"
    %div.sponsorship
      %a#Micropole{ :href => "http://www.micropole.com", :title => "Micropole, sponsor Platinium 2011" }
        %img.logoSponsor{ :src => "/images/logoMicropole.png", :alt => "Micropole, sponsor Platinium 2011" }
    %p

  .grid_3
    %h3= "Gold"
    %div.sponsorship
      %a#Soat{ :href => "http://www.soat.fr/", :title => "Soat, sponsor Gold 2011" }
        %img.logoSponsor{ :src => "/images/logoSoat.png", :alt => "Soat, sponsor Gold 2011" }
    %p

  .grid_3
    %h3= "Web & Mail"
    %div.sponsorship
      %a#Valtech{ :href => "http://www.valtech.fr/", :title => "Valtech, sponsor Web & Mail 2011" }
        %img.logoSponsor{ :src => "/images/logoValtech.jpg", :alt => "Valtech, sponsor Web & Mail 2011" }
    %p

  %p.clear
  %p

  .grid_3
    %h3= "Partenaire média"
    %div.sponsorship
      %a#Duchess{ :href => "http://jduchess-fr.org/", :title => "Duchess France, partenaire média" }
        %img.logoSponsor{ :src => "/images/duchessfr_300px_90dpi_nom.jpg", :alt => "JDuchess, partenaire média" }
    %p

  %p.clear
  %hr

  %h3= "Devenir sponsor"
  %p= "Le document de sponsoring contient tous les détails, les tarifs et le formulaire d'inscription."
  %p
    %a#download.prefix_3{ :href => "/sponsors/2011-04-05 Sponsors.pdf", :target => "_blank" }
      %img{ :src => "/images/pdf_ico.png", :alt => "PDF Icon" }
      2011-04-05 Sponsors.pdf

  %h3= "Formules"
  %p= "Il y a quatre niveaux de soutient:"
  %ul
    %li
      %strong= "Platinium"
      %br
      Donne accès à tous les avantages plus l'accès à la base e-mail des participants qui souhaitent être contactés. Le nombre de sponsors Platinium est limité à 3.
    %li
      %strong= "Gold"
      %br
      Donne accès à tous les avantages plus la possibilité d'intervenir au début de la conférence, un logo et un lien sur la page d'accueil du site, insérer des goodies dans le sac du participant et avoir un espace dédié pour la communication, le recrutement pendant la conférence.
    %li
      %strong= "Web & Mails"
      %br
      Vous permet d'avoir un logo et un lien dans cette page, ainsi que dans les communications en ligne.
    %li
      %strong= "Sac"
      %br
      Ce niveau permet d'insérer des goodies dans le sac distribué aux participants.

