%h2= "Sponsors"

%h3= "Formules"
%p= "Il y a quatre niveaux de soutient:"
%ul
  %li
    %strong= "Platinium"
    %br
    Donne accès à tous les avantages plus l'accès à la base e-mail des participants qui souhaitent être contactés. Le nombre de sponsors Platinium est limité à 3.
  %li
    %strong= "Gold"
    %br
    Donne accès à tous les avantages plus la possibilité d'intervenir au début de la conférence, un logo et un lien sur la page d'accueil du site, insérer des goodies dans le sac du participant et avoir un espace dédié pour la communication, le recrutement pendant la conférence.
  %li
    %strong= "Web & Mails"
    %br
    Vous permet d'avoir un logo et un lien dans cette page, ainsi que dans les communications en ligne.
  %li
    %strong= "Sac"
    %br
    Ce niveau permet d'insérer des goodies dans le sac distribué aux participants.

%h3= "Devenir sponsor"
%p= "Pour plus d'informations, téléchargez (bientôt) le document qui contient tous les détails, les tarifs et le formulaire d'inscription."
