%h2= t('auth.sign_in')
= form_for(resource, :as => resource_name, :url => user_session_path) do |f|
  %p
    = f.label t('auth.email')
    %br/
    = f.text_field :email
  %p
    = f.label t('auth.password')
    %br/
    = f.password_field :password
  - if devise_mapping.rememberable?
    %p
      = f.check_box :remember_me
      = f.label t('.remember_me')
  %p= f.submit "#{t('auth.sign_in')} !"
= render :partial => "devise/shared/links"

%h2= t('authorizations.providers')

- [:twitter, :github].each do |provider|
  = link_to icon_for(provider), user_omniauth_authorize_path(provider)
