%tr
  %td= registration.user.last_name if registration.user
  %td= registration.user.first_name if registration.user
  %td= registration.user.company.name if registration.user && registration.user.company
  %td= registration.product.ref
  %td= registration.execution.price
  %td= registration.execution.quantity
  %td= registration.execution.user.first_name if registration.execution.user
  %td= registration.execution.user.last_name if registration.execution.user
  %td= registration.execution.user.company.name if registration.execution.user && registration.execution.user.company
%tr
  %td{ :colspan => 2 }= registration.user.email if registration.user
  %td{ :colspan => 4 }
  %td= registration.execution.user.email if registration.execution.user
  
