%tr
  %td= registration.user.last_name if registration.user
  %td= registration.user.first_name if registration.user
  %td= registration.user.email if registration.user
  %td= registration.user.company.name if registration.user && registration.user.company
  %td= registration.product.ref
  %td= registration.price
  %td= registration.invoice.user.last_name if registration.invoice.user
  %td= registration.invoice.user.first_name if registration.invoice.user
  %td= registration.invoice.user.email if registration.invoice.user
  %td= registration.invoice.user.company.name if registration.invoice.user && registration.invoice.user.company

