%h1
  = t('user.account')
  |
  = link_to t('common.delete'), account_path, :method => :delete, :confirm => t('common.confirm?')
  
#account
  = render 'form'

%h1 Authentications
-@user.authentications.each do |a|
  %p
    = icon_for(a.provider)
  %ul
    - a.user_info.each do |k,v|
      -unless v.blank? 
        %li= "#{k} : #{v}"