%h1= t('user.account')
= form_for(@user, :url => account_path) do |f|
  =render "shared/error_messages", :resource => @user

  %p
    = f.label :email, t('user.profile.email')
    %br/
    = f.text_field :email
  %p
    = f.label :bio, t('user.profile.bio')
    %br/
    = f.text_area :bio, :size => '28x12'
  .avatar
    %p
      = avatar_for(@user)
      :plain 
        #{avatar_hint(@user)}
  %p= f.submit t('common.validate')

= link_to t('common.delete'), account_path, :method => :delete, :confirm => t('common.confirm?')
  
%h1 Authentications
-@user.authentications.each do |a|
  %p
    = icon_for(a.provider)
  %ul
    - a.user_info.each do |k,v|
      -unless v.blank? 
        %li= "#{k} : #{v}"