=render 'toolbar'

-@invoices_and_registrations_by_conference.each do |conference, (invoices, assigned_registrations, unassigned_registrations)|
  .grid_12
    %h3.pad_1
      = introduce(conference)

  .grid_6
    .pad_1
      %h3
        = t('.title')
      - assigned_registrations.group_by{|r| r.product}.each do |product, list|
        = i18n_text_for(product, :ref)
        %ul
          - list.select{|r| r.user}.each do |registration|
            %li.registration{:id => "registration_#{registration.id}"}
              = render 'users/user', :user => registration.user 
              = link_to(t('.edit'), edit_registration_path(registration))
      - unassigned_registrations.group_by{|r| r.product}.each do |product, list|
        = i18n_text_for(product, :ref)
        %p
          = t('.unassigned', :count => list.count)
          = link_to(t('.edit'), edit_registration_path(list.first))
          
  .grid_6
    .pad_1
      - unless invoices.empty?
        %h3
          = t('.invoices.title')
        - invoices.each do |invoice|
          .invoice{:id => "invoice_#{invoice.id}"}
            = render 'invoices/invoice', :invoice => invoice
        .hint
          :markdown
            #{t('.invoices.hint')}
  .clear
