=render 'toolbar'

-@invoices_and_registrations_by_conference.each do |conference, (invoices, registrations)|
  .grid_12
    %h3.pad_1
      = introduce(conference)

  .grid_6
    .pad_1
      %h3
        = t('.title')
      - registrations.each do |product, (assigned, unassigned)|
        = i18n_text_for(product, :ref)
        %ul
          - assigned.each do |registration|
            %li.registration{:id => "registration_#{registration.id}"}
              = render 'users/user', :user => registration.user
              = link_to(t('.edit'), edit_registration_path(registration))
          - unless unassigned.empty?
            %li
              = t('.unassigned', :count => unassigned.count)
              = link_to(t('.edit'), edit_registration_path(unassigned.first))
  .grid_6
    - unless invoices.empty?
      %h3
        = t('.invoices.title')
      - invoices.each do |invoice|
        .invoice{:id => "invoice_#{invoice.id}"}
          = render 'invoices/invoice', :invoice => invoice
  .clear
