%h1 Administrate
%h3= link_to('Users', admin_users_path)
%h3= link_to('Sessions', awesome_sessions_path)
%h3= link_to('Jobs', admin_jobs_path)
%h3= link_to('Registrations', admin_registrations_path)
%h3= link_to('Badges', 'badges/show.svg')
%p
  Puis sauver le fichier en show.svg) et éxécuter (avec le logo "AgileFranceConference2011-logo.png" dans un sous-répertoire "image"):
%pre
  inkscape --file=show.svg --export-png=show-1.png --export-id-only --export-id="layer1"
  inkscape --file=show.svg --export-png=show-2.png --export-id-only --export-id="layer2"
  inkscape --file=show.svg --export-png=show-3.png --export-id-only --export-id="layer3"
  inkscape --file=show.svg --export-png=show-4.png --export-id-only --export-id="layer4"
  inkscape --file=show.svg --export-png=show-5.png --export-id-only --export-id="layer5"
  inkscape --file=show.svg --export-png=show-6.png --export-id-only --export-id="layer6"
  inkscape --file=show.svg --export-png=show-7.png --export-id-only --export-id="layer7"
  inkscape --file=show.svg --export-png=show-8.png --export-id-only --export-id="layer8"
  inkscape --file=show.svg --export-png=show-9.png --export-id-only --export-id="layer9"
  inkscape --file=show.svg --export-png=show-10.png --export-id-only --export-id="layer10"
  inkscape --file=show.svg --export-png=show-11.png --export-id-only --export-id="layer11"
  inkscape --file=show.svg --export-png=show-12.png --export-id-only --export-id="layer12"
  inkscape --file=show.svg --export-png=show-13.png --export-id-only --export-id="layer13"
  inkscape --file=show.svg --export-png=show-14.png --export-id-only --export-id="layer14"
  inkscape --file=show.svg --export-png=show-15.png --export-id-only --export-id="layer15"
  inkscape --file=show.svg --export-png=show-16.png --export-id-only --export-id="layer16"
  inkscape --file=show.svg --export-png=show-17.png --export-id-only --export-id="layer17"
  inkscape --file=show.svg --export-png=show-18.png --export-id-only --export-id="layer18"
  inkscape --file=show.svg --export-png=show-19.png --export-id-only --export-id="layer19"
  inkscape --file=show.svg --export-png=show-20.png --export-id-only --export-id="layer20"
  inkscape --file=show.svg --export-png=show-21.png --export-id-only --export-id="layer21"
  inkscape --file=show.svg --export-png=show-22.png --export-id-only --export-id="layer22"
  inkscape --file=show.svg --export-png=show-23.png --export-id-only --export-id="layer23"
  inkscape --file=show.svg --export-png=show-24.png --export-id-only --export-id="layer24"
  inkscape --file=show.svg --export-png=show-25.png --export-id-only --export-id="layer25"
  inkscape --file=show.svg --export-png=show-26.png --export-id-only --export-id="layer26"
  inkscape --file=show.svg --export-png=show-27.png --export-id-only --export-id="layer27"
  inkscape --file=show.svg --export-png=show-28.png --export-id-only --export-id="layer28"
  inkscape --file=show.svg --export-png=show-29.png --export-id-only --export-id="layer29"
  inkscape --file=show.svg --export-png=show-30.png --export-id-only --export-id="layer30"
  inkscape --file=show.svg --export-png=show-31.png --export-id-only --export-id="layer31"
  inkscape --file=show.svg --export-png=show-32.png --export-id-only --export-id="layer32"
