!!!
%html
  %head
    %title Conference On Rails
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'utf-8'}
    = stylesheet_link_tag 'base'

  %body
    #container
      #header
        #user_navigation
          - if user_signed_in?
            %p= t('devise.common.greet', :user => current_user.email)
            #sign_out= link_to t('devise.common.sign_out'), destroy_user_session_path
          - else
            #sign_up= link_to t('devise.common.sign_up'), new_user_registration_path
            #sign_in= link_to t('devise.common.sign_in'), new_user_session_path

        - flash.each_key do |key|
          #flash{:class => key}= flash[key]
                      
      #content= yield
      #footer
