!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'utf-8'}
    %title Conference Agile France 2011
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag '960'
    = stylesheet_link_tag 'text'
    
    = stylesheet_link_tag 'base'
    = stylesheet_link_tag 'errors'
    = javascript_include_tag :jquery_1_4_2
    = csrf_meta_tag

  %body
    #content_wrapper.container_12
          
      #header
        .grid_3
          %a{:href => "/"}
            %img#thumb{:src => "/images/AgileFranceConference2011-logo.png", :alt => "Logo Agile France"}
        
        #user_navigation.prefix_3.grid_6
          - if user_signed_in?
            %span= t('devise.common.greet', :user => current_user.greeter_name)
            | 
            %span= link_to t('user.account'), edit_account_path
            |
            %span#sign_out= link_to t('devise.common.sign_out'), destroy_user_session_path
            - if current_user.admin?
              |
              %span= link_to t('admin'), '/admin'          
          - else
            %span#sign_up= link_to t('devise.common.sign_up'), new_user_registration_path
            |
            %span#sign_in= link_to t('devise.common.sign_in'), new_user_session_path

        #mojo
          .mojo.prefix_8 26 et 27 juin 2011
          .mojo.prefix_7#sub-mojo Chalet de la Porte Jaune - Paris
        .clear
        #splash
          %p
            Le rendez-vous <strong>incontournable</strong>
            %br
            de la communauté agile française depuis 2006
        #menu.prefix_8
          %a.menuItem.grid_1{:href => "/"}
            %div accueil
          %a.menuItem.grid_1{:href => "/place"}
            %div lieu
          %div.menuItem.grid_1 sponsors
          %div.menuItem.grid_1 vidéos
      #flash
        - flash.each_key do |key|
          %div{:class => [key, 'grid_12']}= flash[key]
        .clear
          
      #content
        #content_container= yield
        
        / = render :partial => 'debug/show' if Rails.env.development?

      #push

    #footer
      #footer_container
        2010 - Organisation Conférence Agile France
        %br
        Nos sponsors 2010 :
        %br
        %img#badge-sponsor{:src => "/images/sponsor-2011.png", :alt => "Devenir sponsor 2011"}
        %a#atos{:href => "http://fr.atosorigin.com", :title => "Atos Origin - Sponsor Platinium 2010"}
          %img{:class => "logo-sponsor", :src => "/images/bw-atosOrigin.png", :alt => "Atos Origin - Sponsor Platinium 2010"}
        %a{:href => "http://microsoft.com", :title => "Microsoft - Sponsor Gold 2010"}
          %img{:class => "logo-sponsor", :src => "/images/bw-microsoft.png", :alt => "Microsoft - Sponsor Gold 2010"}
        %a{:href => "http://orange-business.com", :title => "Orange Business Services - Sponsor Gold 2010"}
          %img{:class => "logo-sponsor", :src => "/images/bw-orangeBusinessServices.png", :alt => "Orange Business Services - Sponsor Gold 2010"}
        %a{:href => "http://soat.fr", :title => "So@t - Sponsor Gold 2010"}
          %img{:class => "logo-sponsor", :src => "/images/bw-soat.png", :alt => "So@t - Sponsor Gold 2010"}
        %br
        %a{:href => "http://valtech.fr", :title => "Valtech - Sponsor Web 2010"}
          %img{:class => "logo-sponsor", :src => "/images/bw-valtech.png", :alt => "Valtech - Sponsor Web 2010"}
        %a{:href => "http://fastconnect.fr", :title => "Fast Connect - Sponsor Web 2010"}
          %img{:class => "logo-sponsor", :src => "/images/bw-fastConnect.png", :alt => "Fast Connect - Sponsor Web 2010"}
        %a{:href => "http://paristech.org", :title => "Paris Tech - Sponsor Web 2010"}
          %img{:class => "logo-sponsor", :src => "/images/bw-parisTech.png", :alt => "Paris Tech - Sponsor Web 2010"}
        %a{:href => "http://serena.com", :title => "Serena - Sponsor Web 2010"}
          %img{:class => "logo-sponsor", :src => "/images/bw-serena.png", :alt => "Serena - Sponsor Web 2010"}
