!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'utf-8'}
    %title Conference On Rails
    = stylesheet_link_tag 'base'
    = javascript_include_tag :jquery_1_4_2
    = csrf_meta_tag

  %body
    #container
      #header
        #user_navigation
          - if user_signed_in?
            %p= t('devise.common.greet', :user => current_user.greeter_name)
            %p= link_to t('user.account'), edit_account_path
            #sign_out= link_to t('devise.common.sign_out'), destroy_user_session_path
          - else
            #sign_up= link_to t('devise.common.sign_up'), new_user_registration_path
            #sign_in= link_to t('devise.common.sign_in'), new_user_session_path

        - flash.each_key do |key|
          #flash{:class => key}= flash[key]
                      
      #content= yield
      #footer
        -#= render :partial => 'debug/show' if Rails.env.development?