!!!
%html
  %head
    %title Conference On Rails
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'utf-8'}
    = stylesheet_link_tag 'base'

  %body
    #container
      #header
        #user_navigation
          - if user_signed_in?
            Signed in as #{current_user.email}. Not you?
            = link_to 'Sign out', destroy_user_session_path
          - else
            = link_to('Register', new_user_registration_path)
            or
            = link_to('Sign in', new_user_session_path)
      #content= yield

      #footer
