!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'utf-8'}
    %title Conference Agile France 2011
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag '960'
    = stylesheet_link_tag 'text'
    
    = stylesheet_link_tag 'base'
    = stylesheet_link_tag 'errors'
    = javascript_include_tag :jquery_1_4_2
    = javascript_include_tag 'application'
    = yield :javascript
    = csrf_meta_tag

  %body
    #content_wrapper.container_12
          
      #header
        .grid_3
          %a{:href => "/"}
            %img#thumb{:src => "/images/AgileFranceConference2011-logo.png", :alt => "Logo Agile France"}
        
        #user_navigation.prefix_3.grid_6
          - if user_signed_in?
            %span= t('auth.greet', :user => current_user.greeter_name)
            | 
            %span= link_to t('account.title'), edit_account_path
            |
            %span#sign_out= link_to t('auth.sign_out'), destroy_user_session_path
            - if current_user.admin?
              |
              %span= link_to t('admin'), '/admin'
          - else
            %span#sign_up= link_to t('auth.sign_up'), new_user_registration_path
            |
            %span#sign_in= link_to t('auth.sign_in'), new_user_session_path

        #mojo
          .mojo.prefix_7 26 et 27 mai 2011
          .mojo.prefix_6#sub-mojo Chalet de la Porte Jaune - Paris
        .clear
        #splash
          %p
            Le rendez-vous <strong>incontournable</strong>
            %br
            de la communauté Agile française depuis 2006
        #menu.prefix_7
          %a.menuItem.grid_1{:href => "/"}
            %div accueil
          %a.menuItem.grid_1{:href => "/soon"}
            %div calendrier
          %a.menuItem.grid_1{:href => "/place"}
            %div lieu
          %a.menuItem.grid_1{:href => "/sponsors"}
            %div sponsors
          %a.menuItem.grid_1{:href => "/history"}
            %div histoire
      
      = render 'shared/flash', :flash => flash
          
      #content
        #content_container= yield
        
        = render 'debug/show' if Rails.env.development?

      #push

    #footer
      #footer_container
        2011 - Organisation Conférence Agile France
        %br
        %br
        %a{:href => "/sponsors"}
          %img#badge-sponsor{:src => "/images/sponsor-2011.png", :alt => "Devenir sponsor 2011"}
